html {
  text-align: center;
  font-family: Helvetica;
}

#main-head {
  font-size: 70px;
  font-weight: bold;
  color: white
}

.main-links {
  background-image: url("resources/the-flatiron-building.jpg");
  color: white;
}

a {
  color:white;
  }

.sub-head {
  font-size: 32px;
  font-weight: bold;
}

.tagline-head {
  background-image: url("resources/the-flatiron-building.jpg");
}

.info {
  font-size: 23px;
}

.info h3 {
  font-weight: bold;
}

.info p {
  font-size: 14px;
}

.tagline-head {
  color: white;
  font-weight: bold;
}

#bottom-links {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
